.movie
{
    background-color: rgb(218, 208, 208);
    color: black;
    border: 1px solid gray;
    padding: 3px;
    font-weight: bold;
    text-align: start;
    width: 22%;
    margin-top: 14px;
}

.movie img {
    height: 220px;
    width: 100%;
}