
.header
{
  background-color: #192a56;
  text-align: center;
  padding: 0px 8px 0px 8px;
}

.data
{
  display: flex;
  background-color: aqua;
  justify-content: space-around;
  text-align: start;
  width: 100%;
  padding: 50;
}







